.title {
	font-weight: bold;
	font-size: 30px;
}
.btn { 
	border-radius: 30px;
	width:200px; 
	height:40px; 
	line-height:40px; 
	border:1px #E0F8EC solid;
	margin:15px auto; 
	background-color:#CEF6D8; 
	text-align:center; 
	cursor: pointer; 
	color:#333; 
	transition:all 0.4s, color 0.3; 
	}
.hover1:hover{ box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset; }


@import url(style.css);
@import url(media.css);